<section id="header">
  <div class="container">
    <div class="row">
      <div id="titlebar">
        <h1>Saints</h1>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="filtering-buttons">
        <a href="{{ 'index.html' | relative_url }}"><button class="btn btn-success btn-sm"><i class="fa fa-trophy"></i> Saint of the Day</button></a>
        <a href="{{ 'saints.html' | relative_url }}"><button class="btn btn-outline-success btn-sm"><i class="fa fa-plus-circle"></i> View all Saints</button></a>
      </div>
    </div>
  </div>
</section>
