<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Catholic Saints</a>

    <div class="collapse navbar-collapse" id="mainNav">
      <div class="ml-auto">
        <form class="form-inline">
          <a href="{{ 'index.html' | relative_url }}"><button class="btn btn-main btn-sm mx-2"><i class="fa fa-star"></i> Saint of the Day</button></a>
          <a href="{{ 'saints.html' | relative_url }}"><button class="btn btn-main btn-sm mx-2"><i class="fa fa-users"></i> View all Saints</button></a>
          <a href="{{ 'api.html' | relative_url }}"><button class="btn btn-main btn-sm mx-2"><i class="fa fa-code"></i> API Documentation</button></a>
          <a href="{{ 'about.html' | relative_url }}"><button class="btn btn-main btn-sm mx-2"><i class="fa fa-info-circle"></i> About</button></a>
        </form>
      </div>
    </div>
  </div>
</nav>
